# Vagrant
.vagrant/

# Python
bin/
build/
include/
lib/
local/
.pyc

VagrantFile

# vagrant init ubuntu/trusty64
# vagrant up
# vagrant ssh
# sudo apt-get update
# sudo apt-get upgrade
# sudo apt-get install git