{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
		<div class="container">
			<section class="page-header">
				<div class="page-title"><h1>Edit {{genre.name}}</h1></div>
			</section>
			<section class="edit-form edit-genre">
				<form action="{{url_for('editGenre', genre_id = genre.id)}}" method="POST">
					<input type="text" name="name" value="{{genre.name}}">
					<input type="text" name="description" value="{{genre.description}}">
					<input type="text" name="image" value="{{genre.image}}">
					<input type="submit" value="Submit">
				</form>
			</section>
		</div>
{% endblock %}