{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
		<div class="container">
			<section class="page-header">
				<div class="page-title"><h1>Genres</h1></div>
				<div class="header-btn new-genre">
					<form class="{{visclass}}" action="{{url_for('newGenre')}}" method = 'GET'>
						<input type="submit" value="Add Genre"></div>
					</form>
			</section>

		<!--####################### Start Render Dynamic Genre List #####################-->
		<div class="genres-container">
				{% for genre in genres %}
				<div class="genre-content" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('{{url_for('static',filename=genre.image)}}') no-repeat border-box center center; background-size:contain;">
					<div class="genre-name">
						<a href="{{url_for('showTrailers', genre_id = genre.id)}}"><strong>{{genre.name}}</strong></a>
					</div>
					<div class="genre-quantity">
						<p>{{genre.num_trailers}}</p>
					</div>
					<div class="genre-links">
						<ul>
							<li class="{{visclass}}"><a href="{{url_for('editGenre', genre_id = genre.id)}}">Edit</a></li>
							<li class="{{visclass}}"><a href="{{url_for('deleteGenre', genre_id = genre.id)}}">Delete</a></li>
						</ul>
					</div>
				</div>
				{% endfor %}
		</div>
{% endblock %}