<!DOCTYPE html>
<html>
	<head>
		<title>Trailr</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		{% block content %}
		{% endblock %}
	<!--######################## Loding JQuery & JavaScript ########################-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{url_for('static',filename='js/app.js')}}" type="text/javascript"></script>
	</body>
</html>