{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
		<div class="container">
			<section class="page-header">
				<div class="page-title"><h1>{{genre.name}}: Add New Trailer</h1></div>
			</section>
			<section class="new-form new-trailer">
				<form action="{{ url_for('newTrailer', genre_id=genre.id)}}" method="POST">
					<input type="text" name="title" placeholder="Movie Title">
					<input type="text" name="year" placeholder="Year Released">
					<input type="text" name="rated" placeholder="MPAA Rating">
					<input type="text" name="plot" placeholder="Short Plot Summary">
					<input type="text" name="director" placeholder="Director">
					<input type="text" name="poster" placeholder="Poster URL">
					<input type="text" name="trailer" placeholder="Trailer URL">
					<input type="text" name="imdb_rating" placeholder="IMDB Rating">
					<input type="text" name="imdb_id" placeholder="IMDB Id">
					<input type="text" name="boxoffice" placeholder="Boxoffice Earnings">
					<input type="submit" value="Submit">
				</form>
			</section>
		</div>
{% endblock %}