<!DOCTYPE html>
<html>
	<head>
	<title>Trailr | Add Trailer</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
			<!--####################### Beginning of the Header Navigation #####################-->
		<header>
			<nav>
				<div class="masthead">
					<div id="logo"><a href="index.html"><strong>Trailr</strong></a</div>
					<div id="hamburger">
						<div class="change bar1"></div>
						<div class="change bar2"></div>
					</div>
				</div>
				<ul class="navlist">
					<li><a href="{{url_for('searchTrailers')}}" class="navlist-item">Search</a></li>
					<li><a href="{{url_for('showLandingPage')}}" class="navlist-item">Discover</a></li>
					<li><a href="{{url_for('showGenres')}}" class="navlist-item">Genres</a></li>
					<li><a href="{{url_for('login')}}" class="navlist-item">Login</a></li>
				</ul>
			</nav>
		</header>
		<!--####################### End of the Header Navigation #####################-->

		<div class="container">
			<section class="page-header">
				<div class="page-title"><h1>{{genre.name}}: Add New Trailer</h1></div>
			</section>
			<section class="new-form new-trailer">
				<form action="{{ url_for('newTrailer', genre_id=genre.id)}}" method="POST">
					<input type="text" name="title" placeholder="Movie Title">
					<input type="text" name="year" placeholder="Year Released">
					<input type="text" name="rated" placeholder="MPAA Rating">
					<input type="text" name="plot" placeholder="Short Plot Summary">
					<input type="text" name="director" placeholder="Director">
					<input type="text" name="poster" placeholder="Poster URL">
					<input type="text" name="trailer" placeholder="Trailer URL">
					<input type="text" name="imdb_rating" placeholder="IMDB Rating">
					<input type="text" name="imdb_id" placeholder="IMDB Id">
					<input type="text" name="boxoffice" placeholder="Boxoffice Earnings">
					<input type="submit" value="Submit">
				</form>
			</section>
		</div>
		<!--######################## Loding JQuery & JavaScript ########################-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{{url_for('static',filename='js/app.js')}}" type="text/javascript"></script>
	</body>
</html>