{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container">
	<br><br><br><br>
	<form class="movie-search-form">
	    <input type="text" name="title" id="titleInput" placeholder="Title">
	    <input type="text" name="year" id="yearInput" placeholder="Year">
	  <input type="submit" value="Submit">
	</form>
	<br>
	<div id="successAlert" class="alert alert-success" role="alert" style="display:none;">
		<div class="trailer-poster-container">
			<img class="movie-poster" height="315">
			<iframe class="embedded-trailer" width="560" height="315" frameborder="0" allowfullscreen></iframe>
		</div>
		<section class="movie-info">
			<ul class="movie-data-list">
			</ul>
		</section>
		<br>
	</div>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
	<form class="movie-add-form" style="display:none;">
	  	<input type="submit" value="Add to Library">
	</form>
	<div id="addSuccess" class="alert alert-success" role="alert" style="display:none;"></div>
	<div id="addError" class="alert alert-danger" role="alert" style="display:none;"></div>
</div>
{% endblock %}