<!DOCTYPE html>
<html>
<head>
	<title>Trailr | {{trailer.title}}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
<body>
		<!--####################### Beginning of the Header Navigation #####################-->
		<header>
			<nav>
				<div class="masthead">
					<div id="logo"><a href="/"><strong>Trailr</strong></a></div>
					<div id="hamburger">
						<div class="change bar1"></div>
						<div class="change bar2"></div>
					</div>
				</div>
				<ul class="navlist">
					<li><a href="{{url_for('searchTrailers')}}" class="navlist-item">Search</a></li>
					<li><a href="{{url_for('showLandingPage')}}" class="navlist-item">Discover</a></li>
					<li><a href="{{url_for('showGenres')}}" class="navlist-item">Genres</a></li>
					<li><a href="{{url_for('login')}}" class="navlist-item">Login</a></li>
				</ul>
			</nav>
		</header>
		<!--####################### End of the Header Navigation #####################-->
		<div class="trailer-poster-container">
			<img class="movie-poster" src="{{trailer.poster}}" height="315">
			<iframe class="embedded-trailer" width="560" height="315" src="{{trailer.trailer}}?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<section class="movie-info">
			<ul class="movie-data-list">
				<li>Title: {{trailer.title}}</li>
				<li>Year: {{trailer.year}}</li>
				<li>Rated: {{trailer.rated}}</li>
				<li>Director: {{trailer.director}}</li>
				<li>IMDB Rating: {{trailer.imdb_rating}}</li>
				<li>Plot: {{trailer.plot}}</li>
			</ul>
		</section>

		<!--######################## Loding JQuery & JavaScript ########################-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{{url_for('static',filename='js/app.js')}}" type="text/javascript"></script>
</body>
</html>