{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
		<!--####################### End of the Header Navigation #####################-->
		<div class="trailer-poster-container">
			<img class="movie-poster" src="{{trailer.poster}}" height="315">
			<iframe class="embedded-trailer" width="560" height="315" src="{{trailer.trailer}}?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<section class="movie-info">
			<ul class="movie-data-list">
				<li>Title: {{trailer.title}}</li>
				<li>Year: {{trailer.year}}</li>
				<li>Rated: {{trailer.rated}}</li>
				<li>Director: {{trailer.director}}</li>
				<li>IMDB Rating: {{trailer.imdb_rating}}</li>
				<li>Plot: {{trailer.plot}}</li>
			</ul>
		</section>
{% endblock %}