{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
		<div class="container">
			<section class="page-header">
				<div class="page-title">
					<h1>Trailers: {{genre.name}}</h1>
				</div>
				<div class="header-btn new-genre">
					<form action="{{url_for('newTrailer', genre_id=genre.id)}}" method = 'GET'>
						<input type="submit" value="Add Trailer">
					</form>
				</div>

			</section>
		<!--####################### Start Render Dynamic Trailer List #####################-->
			<div class="trailers-container">
					{% for trailer in trailers %}
					<div class="trailer-content" style="background: linear-gradient(rgba(0, 0, 0, 0.0) 75%, rgba(0, 0, 0, 0.0)25%, rgba(0, 0, 0, 0.9)), url('{{trailer.poster}}') no-repeat border-box center center; background-size:100%;">
						<div class="trailer-links">
							<ul>
								<li><a href="{{url_for('showTrailer', genre_id = trailer.genre_id, trailer_id = trailer.id)}}">View</a></li>
								<li class="{{visclass}}"><a href="{{url_for('editTrailer', genre_id = trailer.genre_id, trailer_id = trailer.id)}}">Edit</a></li>
								<li class="{{visclass}}"><a href="{{url_for('deleteTrailer', genre_id = trailer.genre_id, trailer_id = trailer.id)}}">Delete</a></li>
							</ul>
						</div>
					</div>
					{% endfor %}
			</div>
		</div>
		<!--####################### End of Dynamic Trailer List #####################-->
{% endblock %}